
TrackerApp.xcodeproj/xcuserdata/maximbrykov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
TrackerAppScreenshotTest/__Snapshots__/TrackerAppScreenshotTest/testTrackersViewControllerLight.1.png
TrackerAppScreenshotTest/__Snapshots__/TrackerAppScreenshotTest/testTrackersViewControllerDark.1.png
TrackerApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
